/*
This code has been copied and adapted from the following source:

W3 Schools: CSS Horizontal Navigation Bar
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/css/css_navbar_horizontal.asp

W3 Schools: CSS Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/css/css_table.asp

W3 Schools: CSS Table Style
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/css/css_table_style.asp
*/

/* ---------- Nav Bar ---------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: lightslategrey;
}

/* ---------- Tables ---------- */
table, th, td {
    border: 1px solid lightslategrey;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
}

/* ---------- Forms ---------- */
#form {
    border: 1px solid black;
    margin: 20px 0px;
    padding: 10px;
}

.required:after {
content:" *";
color: red;
}

/* ---------- Footer ---------- */
#footer {
    margin-top: 50px;
}
