{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp

W3 Schools: HTML Input Attributes
Retrieved on: 03/14/2025
URL: https://www.w3schools.com/html/html_form_attributes.asp
#}

{# Edit Transfers Page #}

{% extends "edit_base.html" %}

{% block content %}
    <h1>Edit Transfers</h1>
    <table>
        <caption>Editing Transfer:</caption>
        <tr>
            {% for key in transfer[0].keys() %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for item in transfer %}
        <tr>
            {% for key in item.keys() %}
            <td>{{item[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <form id="edit_transfer" action="/edit_transfers/{{transfer[0]['Transfer ID']}}" method="post">
            <legend><strong>Edit Transfer</strong></legend>

            <fieldset>
                <input type="hidden" value="{{transfer[0].transferID}}" id="transferID" name="transferID" required>
                
                <label class="required">Date and Time of Transfer:</label>
                {#
                The code to set a minimum value for the date is based on:
                mdn web docs
                <input type="datetime-local">
                Retrieved on: 03/14/2025
                URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local
                #}
                <input type="datetime-local" required min="2025-01-01T00:00" id="transfer_date_time" name="transfer_date_time" value={{transfer[0]['Transfer Date and Time']}}><br><br>
                <label class="required">Lending Username:</label>
                <select required id="lending_user_name" name="lending_user_name" required><br><br>
                    {#
                    The code to select the current value in the dropdown is based on:
                    stackoverflow post "Set default value for select html element in Jinja template?"
                    Answer from User Matt Healy
                    Retrieved on: 03/14/2025
                    URL: https://stackoverflow.com/questions/29451208/set-default-value-for-select-html-element-in-jinja-template
                    #}
                    {% for lending_user in lending_users %}
                        <option value="{{lending_user['lendingUserName']}}" {% if lending_user['userID']==transfer[0]['lendingUserID'] %} selected="selected" {% endif %}>{{lending_user['lendingUserName']}}</option>
                    {% endfor %}
                </select>
                <label class="required">Borrowing Username:</label>
                <select required id="borrowing_user_name" name="borrowing_user_name"><br><br>
                    {#
                    The code to select the current value in the dropdown is based on:
                    stackoverflow post "Set default value for select html element in Jinja template?"
                    Answer from User Matt Healy
                    Retrieved on: 03/14/2025
                    URL: https://stackoverflow.com/questions/29451208/set-default-value-for-select-html-element-in-jinja-template
                    #}
                    {% for borrowing_user in borrowing_users %}
                        <option value="{{borrowing_user['borrowingUserName']}}" {% if borrowing_user['userID']==transfer[0]['borrowingUserID'] %} selected="selected" {% endif %}>{{borrowing_user['borrowingUserName']}}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <input class="btn" type="submit" name="edit_transfer" value="Submit">
            <a href='/transfers'><input class="btn" type="button" value="Cancel"></a>
        </form>
    </div>
{% endblock %}