{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp

W3 Schools: HTML <select> Tag
Retrieved on: 03/04/2025
URL: http://www.w3schools.com/tags/tag_form.asp

W3 Schools: HTML Input Attributes
Retrieved on: 03/14/2025
URL: https://www.w3schools.com/html/html_form_attributes.asp
#}

{# Edit Users Page #}

{% extends "edit_base.html" %}

{% block content %}
    <h1>Edit Users</h1>
    <table>
        <caption>Editing User:</caption>
        <tr>
            {% for key in user[0].keys() %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for item in user %}
        <tr>
            {% for key in item.keys() %}
            <td>{{item[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <form id="editUser" action="/edit_users/{{ user[0]['User ID'] }}" method="post">
            <legend><strong>Edit User</strong></legend>

            <p>Use this form to edit the above User's information.</p>

            <fieldset>
                <input type="hidden" value="{{user[0].userID}}" id="userID" name="userID" required>

                <label class="required">User Name:</label>
                <input type="text" id="user_name" name="user_name" value={{user[0]['Username']}} required>

                <label class="required">Password:</label>
                <input type="text" id="password" name="password" value={{user[0]['Password']}} required>

                <label class="required">Email:</label>
                <input type="text" id="email" name="email" value={{user[0]['Email']}} required>

                <label>Neighborhood:</label>
                <select id="neighborhood" name="neighborhood"><br><br>
                    {#
                    The code to select the current value in the dropdown is based on:
                    stackoverflow post "Set default value for select html element in Jinja template?"
                    Answer from User Matt Healy
                    Retrieved on: 03/14/2025
                    URL: https://stackoverflow.com/questions/29451208/set-default-value-for-select-html-element-in-jinja-template
                    #}
                    {% for neighborhood in neighborhoods %}
                        <option value="{{neighborhood['neighborhoodName']}}" {% if neighborhood['neighborhoodName']==user[0]['Neighborhood'] %} selected="selected" {% endif %}>{{neighborhood['neighborhoodName']}}</option>
                    {% endfor %}
                    <option value="">None</option>
                </select>
            </fieldset>

            <input class="btn" type="submit" name="edit_user" value="Submit">
            <a href='/users'><input class="btn" type="button" value="Cancel"></a>
        </form>
    </div>
{% endblock %}