{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# Items Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Items</h1>
    <table>
        <caption>Item Data</caption>
        <tr>
            <th>
                <button type="button">New</button>
            </th>
            <th></th>
            {% for key in items[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for item in items %}
        <tr>
            <td>
                <button type="button">Edit</button>
            </td>
            <td>
                <button type="button">Delete</button>
            </td>
            {% for key in item.keys() %}
            <td>{{item[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

        <div id="form">
        <h2>Add New Item</h2>
        <form>
            <label>Item Name:</label>
            <input type="option"><br><br>
            <label>Item Category:</label>
            <input type="option"><br><br>
            <input type="submit" value="Submit">
            <button type="button">Cancel</button>
        </form>
    </div>

    <div id="form">
        <h2>Edit Item</h2>
        <form>
            <p>Item ID: 1</p>
            <label>Item Name:</label>
            <input type="option" placeholder="lantern"><br><br>
            <label>Item Category:</label>
            <input type="option" placeholder="lighting"><br><br>
            <input type="submit" value="Submit">
            <button type="button">Cancel</button>
        </form>
    </div>

    <div id="form">
        <h2>Delete Item</h2>
        <form>
            <p>Are you sure you wish to delete the following item?</p>
            <p>Item ID: 1</p>
            <p>Item Name: lantern</p>
            <p>Item Category: lighting</p>
            <input type="submit" value="Delete Item">
            <button type="button">Cancel</button>
        </form>
    </div>
{% endblock %}