{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app
#}

{# Item Categories Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Item Categories</h1>
    <table>
        <tr>
          <th>categoryID</th>
          <th>categoryName</th>
        </tr>
        {% for item in item_categories %}
        <tr>
            <td>{{item['categoryID']}}</td>
            <td>{{item['categoryName']}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}