{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp

W3 Schools: HTML <select> Tag
Retrieved on: 03/04/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# Items Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Items</h1>
    <table>
        <caption>Item Data</caption>
        <tr>
            <th>
            </th>
            <th></th>
            {% for key in items[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for item in items %}
        <tr>
            <td>
                <a href="/edit_items/{{item['Item ID']}}">Edit</a>
            </td>
            <td>
                <a href="/delete_items/{{item['Item ID']}}">Delete</a>
            </td>
            {% for key in item.keys() %}
            <td>{{item[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <h2>Add New Item</h2>
        <form method="post">
            <label class="required">Item Name:</label>
            <input type="text" id="item_name" name="item_name" required><br><br>
            <label class="required">Item Category:</label>
            <select id="category_name" name="category_name" required><br><br>
                {% for category in categories %}
                    <option value="{{category['categoryName']}}">{{category['categoryName']}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" name="add_item">
            <button type="button">Cancel</button>
        </form>
    </div>
{% endblock %}