{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance
#}

{# Home Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Neighborhood Emergency Item Sharing App!</h1>
    <p>This is the home page for our Flask app.</p>
{% endblock %}