<html>
<head>
    <title>Neighborhood Emergency Item Sharing App</title>
</head>

<body>
    <h1>Neighborhood Emergency Item Sharing App</h1>
    <p>This is the home page for our Flask app.</p>
</body>

<footer>
    <p>Authors: Logan Anderson &amp; Eva Griffin</p>
</footer>
</html>