{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# Item Categories Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Neighborhoods</h1>
    <table>
        <caption>Neighborhood Data</caption>
        <tr>
            <th>
            </th>
            <th></th>
            {% for key in neighborhoods[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for neighborhood in neighborhoods %}
        <tr>
            <td>
                <a href="/edit_neighborhoods/{{neighborhood['Neighborhood ID']}}">Edit</a>
            </td>
            <td>
                <a href="/delete_neighborhoods/{{neighborhood['Neighborhood ID']}}">Delete</a>
            </td>
            {% for key in neighborhood.keys() %}
            <td>{{neighborhood[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <h2>Add New Neighborhood</h2>
        <form method="post">
            <label>Neighborhood Name:</label>
            <input type="text" id="neighborhood_name" name="neighborhood_name"><br><br>
            <input type="submit" value="Submit" name="add_neighborhood">
            <button type="button">Cancel</button>
        </form>
    </div>
{% endblock %}