{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# Transfers Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Transfers</h1>
    <table>
        <caption>Transfer Data</caption>
        <tr>
            <th>
            </th>
            <th></th>
            {% for key in transfers[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for transfer in transfers %}
        <tr>
            <td>
                <a href="/edit_transfers/{{transfer['Transfer ID']}}">Edit</a>
            </td>
            <td>
                <a href="/delete_transfers/{{transfer['Transfer ID']}}">Delete</a>
            </td>
            {% for key in transfer.keys() %}
            <td>{{transfer[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {#
    Sources used as a reference for the following block of code:

    W3 Schools: HTML Form Elements
    Retrieved on: 03/07/2025
    URL: https://www.w3schools.com/html/html_form_elements.asp

    W3 Schools: HTML Input Types
    Retrieved on: 03/07/2025
    URL: https://www.w3schools.com/html/html_form_input_types.asp
    #}
    <div id="form">
        <h2>Add New Transfer</h2>
        <form method="post">
            <label class="required">Date and Time of Transfer:</label>
            <input type="datetime-local" required id="transfer_date_time" name="transfer_date_time"><br><br>
            <label class="required">Lending Username:</label>
            <select required id="lending_user_name" name="lending_user_name"><br><br>
                {% for lending_user in lending_users %}
                    <option value="{{lending_user['lendingUserName']}}">{{lending_user['lendingUserName']}}</option>
                {% endfor %}
            </select>
            <label class="required">Borrowing Username:</label>
            <select required id="borrowing_user_name" name="borrowing_user_name"><br><br>
                {% for borrowing_user in borrowing_users %}
                    <option value="{{borrowing_user['borrowingUserName']}}">{{borrowing_user['borrowingUserName']}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" name="add_transfer">
            <input type="reset" value="Reset">
        </form>
    </div>
{% endblock %}