<html>
<head>
    <title>Neighborhood Emergency Item Sharing App</title>
</head>
<body>
    <h1>Neighborhood Emergency Item Sharing App</h1>
    <p>This is the transfer items page for our Flask app.</p>
</body>
</html>