{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# Transfers Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Transfers</h1>
    <table>
        <caption>Transfer Data</caption>
        <tr>
            <th>
                <button type="button">New</button>
            </th>
            <th></th>
            {% for key in transfers[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for transfer in transfers %}
        <tr>
            <td>
                <button type="button">Edit</button>
            </td>
            <td>
                <button type="button">Delete</button>
            </td>
            {% for key in transfer.keys() %}
            <td>{{transfer[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <h2>Add New Transfer</h2>
        <form>
            <label>Date and Time of Transfer:</label>
            <input type="datetime-local" name="transfer_date_time"><br><br>
            <label>Lending Username:</label>
            <input type="option" name="lending_username"><br><br>
            <label>Borrowing Username:</label>
            <input type="option" name="borrowing_username"><br><br>
            <input type="submit" value="Submit" name="add_transfer">
            <button type="button">Cancel</button>
        </form>
    </div>

    <div id="form">
        <h2>Edit Transfer</h2>
        <form>
            <p>Transfer ID: 1</p>
            <label>Date and Time of Transfer:</label>
            <input type="text" placeholder="2025-02-04 11:00"><br><br>
            <label>Lending Username:</label>
            <input type="option" placeholder="ben.smith89"><br><br>
            <label>Borrowing Username:</label>
            <input type="option" placeholder="katie775"><br><br>
            <input type="submit" value="Submit">
            <button type="button">Cancel</button>
        </form>
    </div>

    <div id="form">
        <h2>Delete Transfer</h2>
        <form>
            <p>Are you sure you wish to delete the following transfer?</p>
            <p>Transfer ID: 1</p>
            <p>Lending Username: ben.smith89</p>
            <p>Borrowing Username: katie775</p>
            <input type="submit" value="Delete Transfer">
            <button type="button">Cancel</button>
        </form>
    </div>
{% endblock %}