{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# Transfer Items Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Transfer Items</h1>
    <table>
        <caption>Transfer Item Data</caption>
        <p id="description">
            This table shows all currently existing relationships between Transfers and Items in the database.
            A relationship between a Transfer and an Item means that the specific Item will be given from the lending to the borrowing User during this Transfer.
        </p>
        <tr>
            <th>
            </th>
            <th></th>
            {% for key in transfer_items[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for transfer_item in transfer_items %}
        <tr>
            <td>
                <a href="/edit_transfer_items/{{transfer_item['Transfer Item ID']}}">Edit</a>
            </td>
            <td>
                <a href="/delete_transfer_items/{{ids[loop.index0]['transferID']}}-{{ids[loop.index0]['itemID']}}">Delete</a>
            </td>
            {% for key in transfer_item.keys() %}
            <td>{{transfer_item[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {#
    Sources used as a reference for the following block of code:

    W3 Schools: HTML Form Elements
    Retrieved on: 03/07/2025
    URL: https://www.w3schools.com/html/html_form_elements.asp

    W3 Schools: HTML Input Types
    Retrieved on: 03/07/2025
    URL: https://www.w3schools.com/html/html_form_input_types.asp

    A delightful reference for HTML Symbols, Entities and ASCII Character Codes
    Retrieved on: 03/10/2025
    URL: https://www.toptal.com/designers/htmlarrows/
    #}
    <div id="form">
        <h2>Add New Transfer Item</h2>
        <p id="description">
            Use the dropdowns below to associate a Transfer with the Item that will be exchanged.
            If applicable, the quantity, weight, and/or volume of the transferred item should be specified here as well.
        </p>
        <form method="post">
            <label class="required">Item Name:</label>
            <select required id="transfer_item_name" name="transfer_item_name"><br><br>
                {% for item in items %}
                    <option value="{{item['itemName']}}">{{item['itemName']}}</option>
                {% endfor %}
            </select>
            <label class="required">Transfer:</label>
            <select required id="transfer_id" name="transfer_id"><br><br>
                {% for transfer in transfers %}
                    <option value="{{transfer['transferID']}}">Transfer ID {{transfer['transferID']}}: {{transfer['Lending User']}} &rarr; {{transfer['Borrowing User']}}</option>
                {% endfor %}
            </select>
            <label class="required">Quantity:</label>
            <input type="number" required min="1" step="1" value="1" id="quantity" name="quantity"><br><br>
            <label>Milliliters:</label>
            <input type="number" min="0" step="0.01" id="milliliters" name="milliliters"><br><br>
            <label>Pounds:</label>
            <input type="number" min="0" step="0.01" id="pounds" name="pounds"><br><br>
            <input type="submit" value="Submit" name="add_transfer_item">
            <input type="reset" value="Reset">
        </form>
    </div>
{% endblock %}