{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# User Items Page #}

{% extends "base.html" %}

{% block content %}
    <h1>Users</h1>
    <table>
        <caption>User Data</caption>
        <tr>
            <th>
                <button type="button">New</button>
            </th>
            <th></th>
            <th>User ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Neighborhood ID</th>
        </tr>
        {% for item in users %}
        <tr>
            <td>
                <button type="button">Edit</button>
            </td>
            <td>
                <button type="button">Delete</button>
            </td>
            <td>{{item['userID']}}</td>
            <td>{{item['userName']}}</td>
            <td>{{item['password']}}</td>
            <td>{{item['email']}}</td>
            <td>{{item['neighborhoodID']}}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <h2>Add New User</h2>
        <form>
            <label>Username:</label>
            <input type="option"><br><br>
            <label>Password:</label>
            <input type="option"><br><br>
            <label>Email:</label>
            <input type="option"><br><br>
            <label>Neighborhood:</label>
            <input type="option"><br><br>
            <input type="submit" value="Submit">
            <button type="button">Cancel</button>
        </form>
    </div>

    <div id="form">
        <h2>Edit User</h2>
        <form>
            <p>User ID: 1</p>
            <label>Username:</label>
            <input type="option" placeholder="katie775"><br><br>
            <label>Password:</label>
            <input type="option" placeholder="example_pw_1"><br><br>
            <label>Email:</label>
            <input type="option" placeholder="katie775@gmail.com"><br><br>
            <label>Neighborhood:</label>
            <input type="option" placeholder="Waterfront"><br><br>
            <input type="submit" value="Submit">
            <button type="button">Cancel</button>
        </form>
    </div>

    <div id="form">
        <h2>Delete User</h2>
        <form>
            <p>Are you sure you wish to delete the following user?</p>
            <p>User ID: 1</p>
            <p>Username: katie775</p>
            <p>Password: example_pw_1</p>
            <p>Email: katie775@gmail.com</p>
            <p>Neighborhood: Waterfront</p>
            <input type="submit" value="Delete User">
            <button type="button">Cancel</button>
        </form>
    </div>
{% endblock %}