{#
This code has been adapted from the following sources:

Template Designer Documentation - Template Inheritance - Child Template
Retrieved on: 02/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#template-inheritance

W3 Schools: HTML Tables
Retrieved on: 02/08/2025
URL: http://www.w3schools.com/html/html_tables.asp

flask-starter-app
Retrieved on: 02/08/2025
URL: https://github.com/osu-cs340-ecampus/flask-starter-app

W3 Schools: HTML <button> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_button.asp

W3 Schools: HTML <form> Tag
Retrieved on: 02/09/2025
URL: http://www.w3schools.com/tags/tag_form.asp

W3 Schools: HTML <select> Tag
Retrieved on: 03/04/2025
URL: http://www.w3schools.com/tags/tag_form.asp
#}

{# User Items Page #}

{% extends "base.html" %}

{% block content %}
    <h1>User Items</h1>
    <table>
        <caption>User Item Data</caption>
        <p id="description">
            This table shows all currently existing relationships between Users and Items in the database.
            A relationship between a User and an Item means that this User owns the Item and is ready to lend the Item to another User.
        </p>
        <tr>
            <th>
            </th>
            <th></th>
            {% for key in user_items[0].keys()%}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        {% for user_item in user_items %}
        <tr>
            <td>
{#
Template Designer Documentation - List of Control Structures - For - loop.index0
Retrieved on: 03/08/2025
URL: https://jinja.palletsprojects.com/en/stable/templates/#for
#}
                <a href="/edit_user_items/{{ids[loop.index0]['userID']}}-{{ids[loop.index0]['itemID']}}">Edit</a>
            </td>
            <td>
                <a href="/delete_user_items/{{ids[loop.index0]['userID']}}-{{ids[loop.index0]['itemID']}}">Delete</a>
            </td>
            {% for key in user_item.keys() %}
            <td>{{user_item[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="form">
        <h2>Add New User Item</h2>
        <p id="description">
            Use the dropdowns below to associate a User with a specific Item.
        </p>
        <form method="post">
            <label class="required">Username:</label>
            <select id="user_name" name="user_name" required><br><br>
                {% for user in users %}
                    <option value="{{user['userName']}}">{{user['userName']}}</option>
                {% endfor %}
            </select>
            <label class="required">Item Name:</label>
            <select id="item_name" name="item_name" required><br><br>
                {% for item in items %}
                    <option value="{{item['itemName']}}">{{item['itemName']}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" name="add_user_item">
            <button type="button">Cancel</button>
        </form>
    </div>
{% endblock %}